/* Reset */
* {
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url('../assets/fonts/Raleway-Regular.ttf'),
       url('../assets/fonts/Raleway-Italic.ttf'),
       url('../assets/fonts/Raleway-Bold.ttf');
}

/* Body */
body {
  font-family: "Raleway";
  background: whitesmoke;
}

/* Main */
main {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  width: 80%;
  box-shadow: 30px 30px 20px lightgray;
}
#info{display: flex;}

/* Aside */
aside {
  border-right: 2px solid #ddd;
  width: 40%;
  background: white;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  height: auto;
}

aside > img {
  max-width: 75%;
  border-radius: 50%;
  padding: 3%;
  box-shadow: 4px 14px 10px lightgray;
}

.info {
  color: gray;
  cursor: default;
}

/* Content Section */
.content-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: #fcfcfc;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  text-align: center;
  padding: 10px;
  height: inherit;
  box-shadow: 30px 30px 20px lightgray;
}

/* Tab Content */
.tabContent {
  justify-content: space-evenly;
  flex-direction: column;
}

.tabContent > div {
  padding: 10px;
}

.tabContent {
  height: 100%;
}

.tabContent h1 {
  color: #666;
}

/* Tab */
.tab {
  margin-bottom: 1em;
}

.tabItem {
  padding: 10px;
  width: 80px;
  color: #777;
  font-weight: bold;
  border: none;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  margin: 10px;
}

.active {
  background: #aaa;
  color: white;
}

/* tab 1 */
.contentWrapper {
  display: flex;
}

.info-header > p{
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}
.info-stats{
  object-fit: fill;
  overflow: auto;
  height: auto;
}

.learnings {
  display: flex;
  padding: 1%;
}

.learnings img {
  border-radius: 10px;
  margin: 1%;
}

/* tab 2 */
.cards-wrapper{
  display: inline-flex;
}
.card{
  margin: 2%;
  width: 30%;
  padding: 13px;
  border-radius: 20px;
}
.card:hover{
  transform: scale(1.2);
}
.card img{
  height: 100px;
  width: 80%;
  object-fit: contain;
}
.card h3{
  font-size: 14px;
  color: gray;
  margin-top: 6px;
}
.card > a{
  text-decoration: none;
}

/* tab 3 */
.contact-wrapper{
  margin: 6.8%;
  height: 38vh;
  display: flex;
  justify-content: center;
}
.contact-card{
  margin: 30px;
}
.contact-card > a > img{
  height: 35px;
  border-radius: 20px;
  box-shadow: 4px 14px 10px lightgray;
}

/* Links */
.tabContent > a > img:hover {
  transform: scale(1.35);
}

.tabContent > a > img {
  padding: 3px;
  height: 40px;
  border-radius: 10px;
}

/* End of CSS */

